html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: black;}

mat-drawer {
    width: 200px;
  }
  
  .sidebar-closed mat-drawer {
    width: 0;
  }

  