.calendar-board{
    position: absolute;
    justify-content: space-between;
    width: 97%;
    height: 95%;
    background-color: #F8F8F8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      
}
  
  .calendar {
    padding-right: 10px;
    min-width: 384px;
  }
  
  .calendar-headline {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left:20px;
    font-family: "JetBrains Mono",monospace;
    font-size: 18px;
  }
  
  .calendar-headline-month {
    font-weight: bolder;
    font-family: "JetBrains Mono",monospace;
    font-size: 30px;
    padding-top: 17px;
  }
  
  .calendar-headline-controls {
    display: flex;
  }
  
  .calendar-headline-control {
    cursor: pointer;
  }
  
  .calendar-headline-control:hover {
    text-decoration: underline;
  }
  
  .calendar-headline-control-today {
    margin: 0 10px;
  }
  
  .calendar-weeks-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: black;
    font-family: "JetBrains Mono",monospace;
    font-size: 25px;
  }
  
  .calendar-weeks-grid-cell {
    text-align: center;
  }
  
  .calendar-grid-cell-inactive {
    color: #9e9e9e;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-top: 1px solid rgb(190, 190, 190);
    border-left: 1px solid rgb(190, 190, 190);
    font-size: 18px;
    font-family: "JetBrains Mono",monospace;
  }
  
  .calendar-grid-cell {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
    cursor: pointer;
  }
  
  .calendar-grid-cell:hover {
    background: #ffc8c84a;
  }
  
  .calendar-grid-cell-active {
    background: #ffc8c84a;
  }
  
  .schedule {
    margin-left: 10px;
  }
  
  .schedule-headline {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-family: "JetBrains Mono",monospace;
  }

  .today-button {
    padding: 20px;
    margin-right: 12px;
    margin-top: 10px;
    font-weight: bold;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 20px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 20px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .today-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .today-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .today-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .details-button {
    padding: 10px;
    margin: 6px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 20px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 11px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
    
  }
  
  .details-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .details-button:hover {
    transform: translateY(-2px);
  }
  
  .details-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .calendar-grid-cell-meeting {
    position: relative;
  }
  
  .calendar-grid-cell-meeting::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffc8c84a;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .calendar-button {
    padding: 12px;
    padding-bottom: 15px;
    margin: 6px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 20px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 11px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
    
  }
  
  .calendar-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .calendar-button:hover {
    transform: translateY(-2px);
  }
  
  .calendar-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }