.mat-table{
  overflow: auto;
  
}

.table-board{
        position: absolute;
        justify-content: space-between;
        width: 97%;
        height: 95%;
        background-color: #F8F8F8;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: auto;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      }

      .table-board .mat-header-cell {
        color: black;
      }

.overlay{
  position: absolute;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: rgba(201, 201, 201, 0.347);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: auto;
        padding: 10px;
        box-sizing: border-box;
}

.filter-div{
  position: absolute;
        justify-content: center;
        text-align: center;
        width: 76%;
        height: 13%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: auto;
        padding: 10px;
        box-sizing: border-box;
        background-color: whitesmoke;
        border-radius: 10px;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  .filter-row{
    justify-content: center;
    display: flex;
  }

}

.filter-header{
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono",monospace;
  font-size: 18px;
  padding-bottom: 6px;

  .close-button{
    float: right;
    margin-left: 20px;
  }
}


.add-offer-table-button {
  padding: 20px;
  margin-left: 12px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 20px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 20px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.add-offer-table-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.add-offer-table-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-offer-table-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.filter-columns-table-button {
  padding: 20px;
  margin-left: 12px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 20px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 20px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.filter-columns-table-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.filter-columns-table-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.filter-columns-table-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.circle-button {
  padding: 10px;
  margin: 6px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 20px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 11px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
  
}

.circle-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.circle-button:hover {
  transform: translateY(-2px);
}

.circle-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.delete-button{
  margin-bottom:8px;
  color: #DF6449;
}

.buttons-and-search{
  display: flex;
}

.table-buttons{
  margin-left: auto;
  margin-top: 10px;
}

.filtering-box{
  font-size: 16px;
  font-family: "JetBrains Mono",monospace;

}
// .action-cell{
//   display: flex;
//   flex-direction: column;
// }

